name: Build & Deploy to AKS

on:
  push:
    branches: [ "main" ]
    paths:
      - "aks-poc/**"
      - ".github/workflows/deploy-aks.yml"

env:
  RG: rg-sandbox-learning-poc
  AKS_NAME: aks-learning-poc
  ACR_NAME: wojtekacr
  IMAGE_REPO: aks-poc
  DEPLOYMENT_NAME: aks-poc
  CONTAINER_NAME: aks-poc

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: az acr login -n $ACR_NAME

      - name: Build and push Docker image
        working-directory: aks-poc
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          IMAGE="$ACR_NAME.azurecr.io/$IMAGE_REPO:$IMAGE_TAG"
          docker build -t "$IMAGE" .
          docker push "$IMAGE"
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4

      - name: Get AKS credentials
        run: az aks get-credentials -g $RG -n $AKS_NAME --overwrite-existing
	
      - name: Deploy (apply manifests)
  	run: |
          kubectl apply -f aks-poc/k8s.yaml
          kubectl rollout status deployment/$DEPLOYMENT_NAME
